<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
    <link rel='stylesheet' href='/stylesheets/index-style.css' />
    <link rel='stylesheet' href='/stylesheets/create-style.css' />
    <link rel='stylesheet' href='/stylesheets/delete-style.css' />
</head>
<body>
    {{#if error }}
        <div class="danger">{{error}}</div>
    {{/if}}
    {{{body}}}
</body>
</html>
