<!--<form method="post">
    <div>
        <label id="userName">Username:</label>
        <input type="text" name="username" id="userName" />
    </div>

    <div>
        <label id="passWord">Password:</label>
        <input type="password" name="passwd" id="passWord" />
    </div>

    <input type="submit" name="submit-btn" value="Login"/>
</form>-->
<!DOCTYPE html>
<html>
<head>
    <title>WebApp</title>
    <style>
        form{
            background-color: #eeeeee;
        }

        label, input{
            margin: 5px 2px;
        }

        label{
            display: inline-block;
            width: 80px;
        }
    </style>
</head>
<body>
{{{body}}}
</body>
<footer>
    <p>&copy; Emilia's app</p>
</footer>
</html>
