form{
    background-color: #EEEEEE;
    padding: 7px 5px;
    width: 250px;
}

.label, input{
    width: 90px;
    display: inline-block;
}

.field{
    margin: 10px 0;

}

input[type="text"], input[type="email"],select{
    width: 150px;
    padding: 0;
    border: 1px solid #BBBBBB;
}

input[type="submit"]{
    margin-left: 95px;
    width: 100px;
    padding: 5px;
    border: 1px solid #BBBBBB;
    background-color: #EFEFEF;
    border-radius: 2px;
}

input[type="submit"]{
    cursor: pointer;
}